<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
		<header data-th-replace="~{/layouts/header :: header}"></header>
		
		<div class="container mt-5">
	        <section class="p-4 bg-light rounded shadow-sm">
	            <form>
	                <div class="row mb-3">
	                    <div class="col">
	                        <label for="name" class="form-label">Nombre</label>
	                        <input id="name" type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" required>
	                    </div>
	                    <div class="col">
	                        <label for="lastName" class="form-label">Apellido</label>
	                        <input id="lastName" type="text" class="form-control" placeholder="Apellido" aria-label="Apellido" required>
	                    </div>
	                </div>
	                
	                <div class="row mb-3">
	                    <div class="col">
	                        <label for="email" class="form-label">Correo electrónico</label>
	                        <input id="email" type="email" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico" required>
	                    </div>
	                    <div class="col">
	                        <label for="phone" class="form-label">Teléfono</label>
	                        <input id="phone" type="number" class="form-control" placeholder="Teléfono" aria-label="Teléfono" required>
	                    </div>
	                </div>
	                
	                <div class="row mb-3">
	                    <div class="col">
	                        <label for="legajo" class="form-label">Legajo</label>
	                        <input id="legajo" type="text" class="form-control" placeholder="Legajo" aria-label="Legajo" required>
	                    </div>
	                    <div class="col d-flex align-items-end">
	                        <button type="submit" class="btn btn-primary mb-3">Agregar Docente</button>
	                    </div>
	                </div>
	            </form>
	        </section>
	    </div>
		
		
		<footer  data-th-replace="~{/layouts/footer :: footer}"></footer>


	
	
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>